#out{
    width:200px;
    height:200px;
    background-color:cyan;
    mix-blend-mode:exclusion;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
  }
  
  #first{
    width:100px;
    height:100px;
    background-color:#ffbe0b;
    transform-origin:top left;
    transition-duration:1s;
    transition-timing-function:linear;
    position:relative;
    }
  
  #second{
    width:100px;
    height:100px;
    background-color:#fb5607;
    transform-origin:top right;
    transition-timing-function:linear;
    transition-duration:1s;
    position:relative;
  }
  
  
  #third{
    width:100px;
    height:100px;
    background-color:#ff006e;
    transform-origin:bottom left;
    transition-duration:1s;
    transition-timing-function:linear;  
    position:relative;
  }
  
  #four{
    width:100px;
    height:100px;
    background-color:#8338ec;
    transform-origin:bottom right;
    transition-duration:1s;
    transition-timing-function:linear;
    position:relative;
  }
  
  div:hover #first{
    transform:rotate(90deg);
   
  }
  
  div:hover #second{
    transform:rotate(-90deg);
  }
  
  div:hover #third{
    transform:rotate(-90deg);
  }
  
  div:hover #four{
    transform:rotate(90deg);
  }
  
  span{
    font-family: Arial;
    font-size: 70px;
    width:200px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  span::after{
    content:"👋";
  } 