nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: aqua;
  width: 100%;
  color: black;
  position: sticky;
  top: 0;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}
